<div class="form-group">
  <input
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type={{type}}
      class="form-control"
      [formControl]="ngControl.control"
      placeholder={{label}}>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Kérem írjon be egy {{label}}</div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
      {{label}} legalább {{ngControl.control.errors.minlength['requiredLength']}} hosszú kell hogy legyen
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
      {{label}} maximum {{ngControl.control.errors.maxlength['requiredLength']}} hosszú lehet
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
      A jelszavak nem egyeznek
  </div>
</div> 
