<div class="row">
    <table class="table">
        <tr>
            <th style="width: 25%;">Felhasználónév</th>
            <th style="width: 30%;">Aktív szerepkörök</th>
            <th style="width: 25%;"></th>
            <th style="width: 20%"></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">Szerepkörök szerkesztése</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(user)">Törlés</button></td>
        </tr>
    </table>
</div>