<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Jegyzőkönyv készítő alkalmazás</h1>
    <p class="lead">Készítsd el a saját kitölthető jegyzőkönyvedet! Annyit kell tenned, hogy regisztrálsz.</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Regisztráció</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
      </div>
    </div>
  </div>
</div>
